CompileFlags:
  Add: [-std=c++23, -stdlib=libc++]

Diagnostics:
  ClangTidy:
    Add: [bugprone*, cppcoreguidelines*, modernize*, performance*, portability*, clang-analyzer-core*, clang-analyzer-cplusplus*]
    Remove: [modernize-use-trailing-return-type]
